.sidebar__box{
  background-color: var(--colorPrincipal);
  margin-bottom: 12px;
}
.box-profile{
  width: 100%;
  position: relative;
  background-color: var(--colorPrincipal);
}
.box-profile__portada{
  width: 100%;
}
.box-profile__foto{
  position: absolute;
  display: block;
  width: 90px;
  border-radius: 50%;
  background-color: var(--colorPrincipal);
  padding: 4px;
  top: 45px;
  left: 25px;
}
.box-profile__information{
  margin-top: 48px;
  padding: 0 25px;
}
.profile-information__title{
  color: var(--colorBlack);
  font-size: 20px;
  font-weight: 600;
}
.profile-information__subtitle{
  color: var(--colorFuenteSecundaria);
  font-size: 14px;
  font-weight: 500;
}
.profile-information__list{
  list-style: none;
  margin: 20px 0;
  /* width: 100%; */
}
.profile-information__item{
  font-size: 13px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.profile-information__numer{
  color: var(--colorFuenteTerciaria);
}
.profile-links{
  display: flex;
  border-top: 1px solid var(--colorBorde);
}
.profile-links__enlace--bordeDerecho{
  border-right: 1px solid var(--colorBorde);
}
.profile-links__enlace{
  margin-top: 3px;
  text-decoration: none;
  color: var(--colorFuentePrincipal);
  display: flex;
  flex-basis: 50%;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}
.profile-links__images{
  width: 20px;
  margin-right: 10px;
}
.box-information{
  width: 100%;
  padding: 5px 25px;
  display: flex;
  flex-direction: column;
  background-color: var(--colorPrincipal);
}
.box-information__title{
  color: var(--colorFuenteSecundaria);
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.box-information__item{
  display: flex;
  align-items: var(--alingY);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: var(--colorFuenteCuaternaria);
  margin: 4px 0;
  padding: 4px 2px;
  gap: 10px;
  transition: 0.5s;
}
.box-information__item .box-information__icon{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--colorFuenteTerciaria);
}
.box-information__separador{
  background-color: var(--colorBorde);
  height: 1px;
  border: none;
  margin-top: 20px;
}
.box-information__more{
  margin: 0 auto;
  text-align: center;
  width: 100px;
  color: var(--colorFuenteTerciaria);
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.box-information__item:hover, .box-information__more:hover{
  background-color: var(--colorItemHover);
}