@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(variables.css);
@import url(header.css);
@import url(sidebar_left.css);
@import url(main.css);
@import url(sidebar_right.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body{
  background-color: var(--colorFondo);
  color: var(--colorFuentePrincipal);
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}

.content-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 280px 1fr 280px;
  grid-template-areas:
    'sidebar main aside';
  gap: 1rem;
  height: 120vh;
  padding-top: calc(52px + 20px);
}
.sidebar, main, .aside{
  background-color: var(--colorFondo);
}

.sidebar{
  grid-area: sidebar;
}
.main{
  grid-area: main;
}
.aside{
  grid-area: aside;
}

@media (width < 1100px){
  .content-layout{
    grid-template-columns: 260px 1fr;
    grid-template-areas:
      'sidebar main';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }
  .aside{
    display: none;
  }
}

@media (width < 770px){
  .search-container__form{
    background-color: transparent;
    color: var(--colorFuenteTerciaria);
  }
  .search-container__input{
    width: 0;
    padding: 0;
  }
  .nav-container__link{
    min-width: 45px;
  }
  .nav-container__text{
    display: none;
  }

  .content-layout{
    margin-right: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'sidebar'
      'main';
    gap: 1rem;
    height: 100vh;
    padding-top: calc(52px + 20px);
  }

  .box-activity__enlace{
    flex-direction: column;
  }
}