:root{
  --colorFondo: #f4f2ee;
  --colorPrincipal: #fff;
  --colorFormulario: #edf3f8;
  --colorFuentePrincipal: #5f5f5f;
  --colorFuenteSecundaria: #777;
  --colorFuenteTerciaria: #2874b1;
  --colorFuenteCuaternaria: #888;
  --colorSombreHeader: rgba(0, 0, 0, 0.1);
  --colorItemHover: #edf3f8;
  --colorOnline: #41db51;
  --colorBlack: #222;
  --colorBorde: #ccc;
  --colorLike: rgb(0, 0, 199);
  --colorLove: rgb(201, 0, 0);
  --colorSmile: rgb(199, 199, 0);
  --colorDropdown: hsla(0, 0%, 13%, 0.980);

  --alingY: center;
  --justifyX: center;
}
